body, * {
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
}

#coffee{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#coldbrew{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
}

#icelatte{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
}

#cbl{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
}

.circle{
  position: absolute;
  top: 90vh;
  z-index: 2;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  background: white;
}

#coldbrewbutton{
  left: 48%;
}

#cblbutton{
  left: 40%;
}

#icelattebutton{
  left: 56%;
}

#counttime{
  position: absolute;
  left: 0;
  top: 5vh;
  z-index: 2;
  width: 95%;
  font-family: monospace;
  font-size: 300%;
  text-align: right;
  color: white;
}
